 /* Basic Reset */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.contact-container {
  max-width: 600px;
  width: 100%;
  background-color: #cfbebe;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
}

.contact-form textarea {
  resize: vertical;
  height: 150px;
}

.contact-form button {
  background-color: #162183;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: #e43c12;
}

.info-section {
  text-align: center;
  margin-top: 20px;
}

.info-section p {
  font-size: 14px;
  color: #666;
}

.info-section a {
  color: #5a67d8;
  text-decoration: none;
}

.info-section a:hover {
  text-decoration: underline;
}